<div class="item-body">
  <div class="item-body-container">
    <div class="item-info-group">
      <div class="item-img">
      <img src="../../../assets/img/clipboard-list.svg" class="item-body-im" alt="Imagem Empresa">
      </div>
      <div class="item-info">
        <h2 class="item-name">Teste</h2>
        <p class="item-description">
          CNPJ: 29.409.880/0001-36 - E-mail: teste@gmail.com
        </p>
      </div>
    </div>
    <div class="btn-container">
      <button class="item-btn delete">
        <i class="fas fa-trash"></i>
      </button>
      <button class="item-btn edit">
        <i class="fas fa-pencil"></i>
      </button>
      <!-- <app-modal-edicao [empresaData]="empresaObj"/> -->
    </div>
  </div>
</div>
