<div class="item-body">
  <div class="item-body-container">
    <div class="item-info-group">
      <div class="item-img">
      <img src="../../../assets/img/clipboard-list.svg" class="item-body-im" alt="Imagem Empresa">
      </div>
      <div class="item-info">
        <h2 class="item-name"><b>{{ nome }}</b></h2>
        <p class="item-description">
          <b>Produtora:</b> {{ produtora }} <br>
          <b>Ano:</b> {{ ano }} - <b>Idade Minima: </b> {{ idadeMinima }}
        </p>
         <p class="item-description">
          <b>Descrição:</b> teste decrição
        </p>

      </div>
    </div>
    <div class="btn-container">
      <button class="item-btn delete" (click)="deleteGame(id)">
        <i class="fas fa-trash"></i>
      </button>
      <button class="item-btn edit" [routerLink]="['editar', id]">
        <i class="fas fa-pencil"></i>
      </button>
    </div>
  </div>
</div>
