.profile-pic{
  border-radius: 50%;
  border: 1px solid #969696;
}

.navbar{
  background-color: #c3c3c36b;
}

.back-button{
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  font-weight: 600;
  background-color: #007ef5;
}
